In [3]:
def func_income(month_list):
    income_list = []
    while True:
        income = float(input('รายรับ: '))
        income_list.append(income)
        if income == 0:
            break
    print(sum(income_list))
    month_list.append(sum(income_list))

#

*** Consumption***

In [4]:
def func_consumption(month_list):
    consumption_list = []
    while True:
        consumption = float(input('รายจ่าย: '))
        consumption_list.append(consumption)
        if consumption == 0:
            break
    print(sum(consumption_list)) 
    ans = np.subtract(sum(month_list), sum(consumption_list))
    return ans

In [5]:
func_income(jan_list)

รายรับ:  9
รายรับ:  8
รายรับ:  7
รายรับ:  0

24.0

In [6]:
jan_list

[24.0]

In [7]:
print(sum(jan_list))

24.0

In [8]:
func_consumption(jan_list)

รายจ่าย:  3
รายจ่าย:  2
รายจ่าย:  1
รายจ่าย:  0

6.0

18.0